/ffmpeg-git/
/rclone/
__pycache__/
console_log.txt
log.txt
/.ssh/
/ytsubconverter/
.env
nohup.out
/gifski_/
/temp/
modules/others/karaoke_queue/
activities.txt
diff.diff
filehost.py
list.txt
hall_of_shame_ids.json
music_temp/
paci_media.txt
paci_media_2.txt
.nohup.out.swp
